@import "tailwindcss";

@theme {
  --font-display: "Gabarito", "sans-serif";
  --bg-color: #ffffff;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  *::-webkit-scrollbar {
    display: none;
  }

  h1 {
    font-size: var(--text-4xl);
    line-height: var(--text-4xl--line-height);
    font-weight: 600;
  }
  h2 {
    font-size: var(--text-2xl);
    line-height: var(--text-2xl--line-height);
  }

  body {
    font-family: "Gabarito", "sans-serif";
    font-weight: 300;
    background-color: var(--bg-color);
    color: var(--color-blue-950);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    width: 100%;
    overflow-y: scroll;
  }

  label {
    text-align: left;
  }
}
